<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="item">
                    <h3 class="text-uppercase">location</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="item">
                    <h3 class="text-uppercase">AROUND THE WEB</h3>
                    <div class="icons">
                        <div class="inner-item"><i class="fa-brands fa-facebook"></i></div>
                        <div class="inner-item"><i class="fa-brands fa-twitter"></i></div>
                        <div class="inner-item"><i class="fa-brands fa-linkedin-in"></i></div>
                        <div class="inner-item"><i class="fa-solid fa-globe"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="item">
                    <h3 class="text-uppercase">ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 copyRights">
                <p>Copyright © Your Website 2021</p>
            </div>
        </div>
    </div>
</section>