<nav class="navbar navbar-expand-sm fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand text-uppercase text-light" routerLink="/home">Start Framework
        </a>
        <div class="navb">
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 text-uppercase ">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="rounded item" routerLink="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="rounded item" routerLink="/portfolio">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="rounded item" routerLink="/contact">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>