<section>
    <div class="contactSection">
        <div class="inner-contactSection text-center">
            <h2 class="text-uppercase mb-3">Contact section</h2>

            <div class="star d-inline-block mb-3">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

        <div class="form">

            <div class="row">
                <div class="col-md-12">
                    <input class="item form-control py-3 border-top-0 border-start-0 border-end-0" type="text"
                        placeholder="userName">
                </div>
                <div class="col-md-12">
                    <input class="item form-control py-3 border-top-0 border-start-0 border-end-0" type="number"
                        placeholder="userAge">
                </div>
                <div class="col-md-12">
                    <input class="item form-control py-3 border-top-0 border-start-0 border-end-0" type="email"
                        placeholder="userEmail">
                </div>
                <div class="col-md-12">
                    <input class="item form-control py-3 border-top-0 border-start-0 border-end-0" type="password"
                        placeholder="userPassword">
                </div>
            </div>
            <div class="buttonPart">
                <button type="button" class="btn button">send Message </button>
            </div>
        </div>
    </div>
</section>