<section>
    <div class="aboutSection">
        <div class="inner-aboutSection text-center">
            <h2 class="text-uppercase mb-3">portfolio component</h2>

            <div class="star d-inline-block mb-3">
                <i class="fa-solid fa-star"></i>
            </div>


        </div>
        <div class="container imgSec">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="item">
                        <img class="w-100" src="/images/1.png" alt="">
                        <div class="cover">
                            <i class="fa-solid fa-plus text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="w-100" src="/images/2.png" alt="">
                        <div class="cover">
                            <i class="fa-solid fa-plus text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="w-100" src="/images/3.png" alt="">
                        <div class="cover">
                            <i class="fa-solid fa-plus text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="w-100" src="/images/1.png" alt="">
                        <div class="cover">
                            <i class="fa-solid fa-plus text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="w-100" src="/images/2.png" alt="">
                        <div class="cover">
                            <i class="fa-solid fa-plus text-light"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <img class="w-100" src="/images/3.png" alt="">
                        <div class="cover">
                            <i class="fa-solid fa-plus text-light"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>